.nav-container {
  position: fixed;
  color: white;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 100vw;
  align-items: center;
  background: linear-gradient(
         90deg,
         rgba(131, 68, 111, 1) 0%,
         rgba(106, 9, 125, 1) 49%,
         rgba(59, 3, 70, 1) 100%
       ); 
  box-sizing: border-box;
}

.nav-logo {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 45px;
  margin-top: 0rem;
}

.nav-logo a {
  text-decoration: none;
  color: white;
}

.nav-links {
  margin-right: 2rem;
  font-size: 30px;
}

.nav-links a{
  text-decoration: none;
  color: white;
  margin: 0rem 0rem;
}
#nav-toggle {
  position: absolute;
  right: 4rem;
  visibility:collapse ;
}
#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-width: 789px) {
  .nav-links {
    margin-right: 0rem;
    font-size: 30px;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    top: 0%;
    right: 100%;
    background: none;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.424);
    }

    .nav-links-toggled {
      margin-right: 0rem;
      font-size: 30px;
      padding: 0rem 0rem;
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 100vh;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      top: 0%;
      right: 0%;
      background: none;
      transition: 0.75s;
      background-color: rgba(0, 0, 0, 0.769);
      /* margin-top: -2.5rem; */
      }
    .nav-links-toggled a{
        text-decoration: none;
        color: white;
        margin: 0rem 0rem;
        font-size: 35px;
        width: 100vw;
        text-align: center;
    }

    .nav-link-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    .nav-links a{
      text-decoration: none;
      color: white;
      margin: 0rem 1rem;
      font-size: 35px;
      width: 100vw;
      text-align: center;
    }

    #nav-toggle {
      position: absolute;
      right: 4rem;
      visibility: visible;
      z-index: 2;
    }
}