@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Quicksand';
   box-sizing: border-box;
}

html, body {
   max-width: 100%;
   overflow-x: hidden;
}