.hh-container {
   /* margin-top: 10vh; */
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
      background: linear-gradient(
         90deg,
         rgba(131, 68, 111, 1) 0%,
         rgba(106, 9, 125, 1) 49%,
         rgba(59, 3, 70, 1) 100%
       );    height: 100vh;
   max-width: 100vw;
   box-sizing: border-box;
}

.hh-container p{
   font-size: 35px;
   margin-top: 4rem;
   width: 40rem;
   text-align: center;
}

.hh-logo {
   margin-top: -7rem;
}

.button-container {
   display: flex;
   align-items: center;
   margin-top: 4rem;
   width: 30rem;
   justify-content: space-around;
}

.button-container a{
   margin-top: 2rem;
   font-size: 23px;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   width: 150px;
   background-color: black;
   color: white;
   text-decoration: none;
   border-radius: 10px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.35s;
}

.button-container a:nth-child(2){
   margin-top: 2rem;
   font-size: 23px;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   width: 150px;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   text-decoration: none;
   border-radius: 10px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.35s;
}

@media only screen and (max-width: 650px) {
   .button-container {
      width: 30rem;
   }

   .hh-container p{
      width: 30rem;
   }
 }

 @media only screen and (max-width: 485px) {
   .button-container {
      width: 100vw;
   }

   .hh-container p{
      width: fit-content;
      font-size: 30px;
   }
   .button-container a{
      font-size: 20px;
      height: 45px;
      width: 140px;
   }
   .button-container a:nth-child(2){
      font-size: 20px;
      height: 45px;
      width: 140px;
   }
 }
