.home-container {
   /* background: linear-gradient(
      90deg,
      rgba(131, 68, 111, 1) 0%,
      rgba(106, 9, 125, 1) 49%,
      rgba(59, 3, 70, 1) 100%
    );  */
  /* height: 100vh; */
   /* display: flex; */
   max-width: 100vw;
   width: 100vw;
   box-sizing: border-box;

}

/* width */
::-webkit-scrollbar {
   width: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #e9e9e9;

 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #6b6b6b;
   border-radius: 2px;

 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }