.hm-container {
   max-width: 100vw;
   width: 100vw;
   box-sizing: border-box;
}

.hm-title {
   padding: 1rem 1rem;
}

.hm-text {
   margin-top: 0.75rem;
   margin-left: 3rem;
   width: 90%;
   line-height: 1.7rem;
   margin-bottom: 1rem;
   text-align: justify;
}

.genre-container {
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.hm-genre {
   margin: 1.25rem 2rem;
   width: 35rem;
   color: white;
   height: 35vh;
   border-radius: 5px;
   background: linear-gradient(to bottom, rgba(155, 156, 160, 0.52), rgba(117, 19, 93, 0.73)),
   url('../../assets/flamenco.jpg');
   background-position: center;
   background-size: cover;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.hm-genre h1 {
   padding: 5rem 8rem;
   font-size: 45px;
}

.hm-genre a {
   width: max-content;
   height: max-content;
   text-decoration: none;
   color: white;
}

.hm-genre:nth-child(2) {
   background: linear-gradient(to bottom, rgba(155, 156, 160, 0.52), rgba(117, 19, 93, 0.73)),
   url('../../assets/rock.jpg');
   background-position: center;
   background-size: cover;
}

.hm-genre:nth-child(3) {
   background: linear-gradient(to bottom, rgba(155, 156, 160, 0.52), rgba(117, 19, 93, 0.73)),
   url('../../assets/jazz.jpg');
   background-position: center;
   background-size: cover;
}

.hm-genre:nth-child(4) {
   background: linear-gradient(to bottom, rgba(155, 156, 160, 0.52), rgba(117, 19, 93, 0.73)),
   url('../../assets/pop.jpg');
   background-position: center;
   background-size: cover;
}

@media only screen and (max-width: 1250px) {

.hm-genre {
   margin: 1.25rem 1rem;
   width: 30rem;
   height: 20rem;
}

}

@media only screen and (max-width: 1000px) {

   .hm-genre {
      margin: 1.25rem 1rem;
      width: 70vw;
      height: 45vh;
   }
   
   }

@media only screen and (max-width: 700px) {

   .hm-genre h1 {
      padding: 0rem 0rem;
      font-size: 45px;
      margin-top:21vh ;
      text-align: center;
   }
      
   .hm-text {
      margin-top: 0.75rem;
      margin-left: 1rem;
      width: 90%;
      line-height: 1.7rem;
      margin-bottom: 1rem;
      text-align: justify;
   }
   
}

@media only screen and (max-width: 400px) {

   .hm-genre h1 {
      padding: 0rem 0rem;
      font-size: 37px;
      margin-top:17vh ;
      text-align: center;
   }

   .hm-genre {
      margin: 1.25rem 1rem;
      width: 70vw;
      height: 35vh;
   }
      
   }